.tiptap {
    width: 100%;
}

.ProseMirror:focus {
    outline: none;
}

.ProseMirror {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: whitesmoke !important;
}

.tiptap p {
    margin: 0 5px;
}

.is-active {
    border: 1px solid lightgray !important;
    color: white;
}

.readonly-editor,
.ProseMirror {
    border: none !important;
    background-color: whitesmoke;
}
