.navImage {
    font-size: 2.5rem !important;
}
.listItemText {
    font-size: 25px !important;
    text-align: left !important;
}

.navButton {
    border: 1px solid transparent !important;
    border-radius: 8px !important;
    height: 65px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}
.activeItem {
    border: 1px solid #3a7ca5 !important;
}
